.App {
  text-align: center;
}

.App-logo {
  height: 35vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.images img {
  min-width: 100px;
  height: auto;
  margin: 5px;
}

.logo {
  width: 50px;
  position: absolute;
  border-radius: 50%;
  margin-top: 2px;
  padding-left: 20px;
  float: left;
}

.nav_bar {
  list-style-type: none;
  background-color: aqua;
  padding: 16px;
  margin: 0;
  padding-left: 8rem;
  width: 100%;
}

.nav_bar li a {
  text-decoration: none;
  /* color: #fff; */
  font-size: 20px;
}

.register_menu,
.add_product,
.update_product,
.update_profile,
.update_image{
  position: absolute;
  left: 35%;
  display: inline-grid;
  row-gap: 20px;
  text-align: center;
  margin-top: 20px;
}

.inputbox {
  border: 1px solid aqua;
  border-radius: 5px;
  text-align: center;
  padding: 5px;
  width: 300px;
}

.deleteBtn{
  color: red;
  cursor: pointer;
}

.signupBtn,
.addProductBtn,
.updateProductBtn,
.updateProfileBtn,
.updateImgBtn{
  padding: 10px;
  width: 125px;
  left: 30%;
  position: relative;
  background-color: aqua;
  border: 2px solid #1399a1;
  border-radius: 10px;
  cursor: pointer;
}

.img-edit{
  margin: -15px 0px 0 5px;
  position: absolute;
  color: green;
}

.invalid_input {
  color: red;
  font-size: 10px;
  text-align: left;
  margin-top: -20px;
}

.product-list {
  text-align: center;
  margin-top: 20px;
  padding: 0 0 100px 0;
}

.product-list li {
  margin: -6px 0 0 0;
}

.product-list ul li {
  display: inline-block;
    padding: 20px 10px;
    border: 1px solid gray;
    width: 120px;
    height: 40px;
    overflow: overlay;
    transition: all .1s;
}


.searchBar{
  margin: 20px;
  width: 400px;
  height: 30px;
  padding-left: 20px;
  border: 2px solid aqua;
  border-radius: 20px;
}

.footer {
  bottom: 0;
  position: fixed;
  width: 100%;
  text-align: center;
  background-color: aqua;
  font-size: 15px;
  padding: 2px;
}

.loder{
  height: 50px;
    width: 50px;
    border: 10px solid #d2d1d1;
    border-radius: 50%;
    border-top: 10px solid rgb(0, 153, 255);
    position: absolute;
    margin: 15% 0 0 45%;
    animation: spin 3s infinite forwards ease-in;
    -webkit-animation: spin 1s infinite linear;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loder-div{
  background: #9489894d;
    height: 84%;
    z-index: 2;
    position: absolute;
    top: 9.5%;
    width: 100%;
}